import /system/etc/init/init.oppo.fingerprint.rc
import /system/etc/init/init.devicesetting.rc

on init
    chown system system /proc/touchpanel/double_tap_enable
    chmod 0666 /proc/touchpanel/double_tap_enable

    # set default schedTune value for foreground/top-app
    # Set default values for foreground and top-app stune
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 10
    write /dev/stune/top-app/schedtune.prefer_idle 1

    # Mask up legacy PowerHAL
    mount none /system/etc/fs_none /vendor/bin/hw/android.hardware.power@1.0-service bind
    mount none /system/etc/fs_none /vendor/etc/init/android.hardware.power@1.0-service.rc bind
    mount none /system/etc/fs_none /vendor/etc/powerhint.xml bind

on boot
    # Add for touchscreen firmware update check
    chown system system /proc/touchpanel/tp_fw_update
    write /proc/touchpanel/tp_fw_update 1

service vendor.imsdatadaemon /vendor/bin/imsdatadaemon
    override
    class main
    user radio
    socket ims_datad stream 0660 system radio
    group radio wifi inet vendor_qti_diag log
    disabled

service set_zram /vendor/bin/sh /system/etc/init/set_zram.sh
    class late_start
    disabled
    user root
    group system
    oneshot

on property:init.svc.cnss_diag=running
    stop cnss_diag

on property:init.svc.tcpdump=running
    stop tcpdump

on property:init.svc.vendor.ipacm-diag=running
    stop vendor.ipacm-diag

on property:sys.boot_completed=1
    start set_zram

on property:vendor.post_boot.parsed=1

    # Enable powersaving
    write /sys/module/lpm_levels/parameters/sleep_disabled 0

    # Enable idle state listener
    write /sys/class/drm/card0/device/idle_encoder_mask 1
    write /sys/class/drm/card0/device/idle_timeout_ms 100

    # Enable PowerHAL hint processing
    setprop vendor.powerhal.init 1

service vendor.power-hal-1-0 /system/bin/true
    disabled
